.about-page
    .page-preview
        &__slide-title
            margin-bottom: 20px
        &__slide-img
            right: 50px 

    .sections-serv
        margin-bottom: 100px
    .objects-icon-box
        p
            font-size: 18px
    .examples
        &__title
            display: flex
            justify-content: space-between
