.about-page
    .page-preview
        &__slide-title
            margin-bottom: 20px
        &__slide-img
            right: 50px

    .sections-serv
        margin-bottom: 100px
    .objects-icon-box
        p
            font-size: 18px
    .examples
        &__title
            display: flex
            justify-content: space-between
    .advantages
        padding: 70px 0 100px
    .slider-reviews-section
        &__title
            margin-bottom: 50px

.our-partners
    padding: 50px 0
    &__title
        margin-bottom: 50px
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
    &__item
        width: 16%
        padding: 10px 20px
        opacity: .5

.certificates
    padding: 100px 0 0
    .container
        display: flex
    &__title
        margin-bottom: 50px
    &__item
        margin-right: 24px
        img
            margin-bottom: 20px
        p
            color: #666
            font-size: 18px
            font-weight: 400
            line-height: 130%

/* Выполненные проекты */
.projects-page
    .examples
        padding: 50px 0

/* Контакты */
.contacts-page
    .feedback-section
        background: none
.map-icon
    display: flex
    img
        margin-right: 10px
    p
        color: #000
        font-size: 18px
        font-weight: 400
        line-height: 150%

/* БЛОГ */
.blog-page
    .feedback-section
        padding: 50px 0
        background: url(../img/bg/bg-feedback-section-mail.jpg) center center/cover no-repeat
    .feedback__column
        &:first-child
            padding-right: 60px
.blog
    padding: 100px 0
    &__title
        margin-bottom: 50px

.all-post
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
        width: 24%
        margin-bottom: 30px
        margin-right: 14px
        &:nth-child(4n)
            margin-right: 0

        img
            border-radius: 4px
            margin-bottom: 15px
        &:hover
            .all-post__title
                color: $main-red

    &__title
        color: $black-1
        font-size: 16px
        font-weight: 600
        line-height: 120%
        margin-bottom: 8px
        transition: .3s
    &__text
        color: $gray-article-text
        font-size: 15px
        font-weight: 400
        line-height: 125%

/* СТРАНИЦА - Blog-article */
.article-intro
    background: url(../img/bg/article-bg.jpg) center center / cover no-repeat
    .container
        height: 450px
        display: flex
        align-items: flex-end
        padding: 90px 15px
    &__title
        color: #fff
        max-width: 850px

.article-content
    &__container
        max-width: 860px
        padding: 50px 0
    &__subcontent
        margin-bottom: 50px
        a
            padding: 10px 15px
            border-radius: 4px
            background: #F2F2F2
            display: block
            margin-bottom: 10px

            display: flex
            align-items: center
            justify-content: space-between

            color: $black-1
            font-size: 16px
            font-weight: 500
            line-height: 120%

            transition: .3s

            &:hover
                color: $main-red

    &__subtitle
        color: $black-1
        font-size: 20px
        font-weight: 600
        line-height: 110%
        margin-bottom: 20px

    &__item
        position: relative
        margin-bottom: 30px
        p
            color: #333
            font-size: 18px
            font-weight: 400
            line-height: 140%

        .arrows-left, .arrows-right
            position: absolute
            top: 50%
            transform: translateY(-50%)

            width: 30px
            height: 30px

        .arrows-left
            left: -40px
        .arrows-right
            right: -40px

        .slick-dots
            bottom: -20px

    &__title
        color: $black-1
        font-size: 32px
        font-weight: 600
        line-height: 110%
        letter-spacing: -0.64px
        padding-top: 20px
        margin-bottom: 20px

.article-services, .other-articles
    padding: 50px 0
    &__title
        margin-bottom: 50px
    
/* СТРАНИЦА ВИДОЕ */
.video-section
    padding: 50px 0
    &__title
        margin-bottom: 50px

.video-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .article
        &__item-video
            width: 31.6%
            margin-bottom: 50px
            &:nth-child(3n)
                margin-right: 0