button, a
    cursor: pointer

.search
    background: none
    border: none
    cursor: pointer

    display: flex
    align-items: center

    font-size: 16px
    color: $black-1

    transition: .3s

    &:hover
        color: $main-red
    &_active
        color: $main-red

    img
        background: $main-red
        border-radius: 90px
        display: flex
        justify-content: center
        align-items: center

        width: 30px
        height: 30px

        padding: 5px

        margin-right: 8px

.call-btn
    background: none
    border: none
    cursor: pointer

    display: flex
    align-items: center

    font-size: 16px
    font-weight: 600
    color: $black-1

    transition: .3s

    &:hover
        color: $main-red

    img
        border-radius: 90px
        display: flex
        justify-content: center
        align-items: center

        width: 30px
        height: 30px

        padding: 2px

        margin-right: 5px

.btn
    padding: 10px 15px
    border-radius: 6px
    border: 2px solid $black-1
    background: #FFF

    font-size: 16px
    font-weight: 600
    color: $black-1

    cursor: pointer
    transition: .3s

    &:hover
        background: $black-1
        color: #fff

.main-btn
    border: none
    border-radius: 6px
    background: $main-red
    padding: 11px 10px 11px 20px

    color: #FFF
    font-size: 18px
    font-weight: 600
    line-height: 20px

    display: flex
    align-items: center

    transition: .3s
    span
        border-radius: 100px
        background: rgba(255, 255, 255, 0.30)
        font-size: 14px
        line-height: 1
        padding: 8px
        margin-left: 15px
    &:hover
        background: $black-1
        color: #fff

.text-link
    color: $black-1
    font-size: 18px
    font-weight: 600
    line-height: 27px
    transition: .3s
    span
        color: $main-red
    &:hover
        color: $main-red

.btn-tab
    padding: 14px 25px
    border-radius: 100px
    background: $gray-btn
    border: none
    color: $gray-btn-text
    font-size: 20px
    font-weight: 600
    line-height: 110%

    transition: .3s
    &:hover
        color: $black-1
    &_active
        background: $black-1
        color: #fff
        cursor: default
        &:hover
            color: #fff

.link-tel, .link-telegram, .link-mail, .link-whatsapp
    color: $black-1
    font-size: 18px
    font-weight: 600
    line-height: 27px

    display: flex
    align-items: center
    &::before
        content: ''
        display: block
        width: 30px
        height: 30px
        padding-right: 10px
    &:hover
        color: #6C6C65

.link-tel
    width: 70%
    &::before
        background: url(../img/icons/icon-call.svg) center no-repeat
.link-telegram
    width: 30%
    &::before
        background: url(../img/icons/telegram.svg) center no-repeat
.link-mail
    width: 70%
    &::before
        background: url(../img/icons/mail.svg) center no-repeat
.link-whatsapp
    width: 30%
    &::before
        background: url(../img/icons/whatsapp.svg) center no-repeat

.close-btn
    border-radius: 100px
    border: none
    background: #A5A5A4
    width: 34px
    height: 34px

    transition: .3s

    position: relative
    span
        display: block
        background: #fff
        width: 20px
        height: 3px
        border-radius: 8px
        position: absolute
        left: 20%
        top: 48%

        &:first-child
            transform: rotate(45deg) 

        &:last-child
            transform: rotate(-45deg) 

    &:hover
        background: $black-1
    &_abs
        position: absolute
