@media (max-width: 1440px)
    .header__logo
        margin-right: 30px
        a
            img
                height: auto
                width: 100px

    .nav-menu
        margin-right: 20px
        li
            margin-right: 20px
            button, a
                font-size: 15px

    .search-window
        form
            input
                width: 1016px

    /* //* Главная страница */
    .main-slider__arrows
        .arrows-left
            left: 16px
        .arrows-right
            right: 16px

    /* //* СТРАНИЦА УСЛУГИ */
    .slider-reviews-section
        .container
            .arrows-left
                left: 20px
            .arrows-right
                right: 20px

    /* БЛОГ */

    .article-content__item
        .arrows-right
            right: 10px
        .arrows-left
            left: 10px

@media (max-width: 1200px)
    .header
        &__container
            justify-content: space-between
        &__buttons .call-btn
            display: none

    .search-window
        form
            input
                width: 850px

    /* Главная страница */
    .main-slider__slide-title
        font-size: 30px
        line-height: 34px

    .products__item
        width: 32%
        margin-right: 14px

    .title
        font-size: 34px

    .products__item p
        font-size: 16px
        line-height: 20px

    .about-section__column:last-child
        p
            font-size: 18px

    .icon-box
        &__text
            font-size: 18px
            line-height: 20px
        &__icon
            margin-bottom: 0px

    .feedback__column
        &:first-child
            padding-right: 100px
        &:last-child
            padding-left: 80px

    /* Стрница НАША ДЕЯТЕЛЬНОСТЬ */

    .examples-cart
        &__item
            width: 31%

    .text-column
        &__title
            font-size: 30px

    /* Страница О КОМПАНИИ */
    .page-preview
        &__slide-text
            width: 50%
            font-size: 18px

    /* BLOG */
    .all-post
        &__item
            width: 23%

@media (max-width: 1024px)
    .mob-v
        display: block
    .header
        &__container
            display: none
        &__mob-v
            height: 50px
            padding: 0 15px
            display: flex
            align-items: center
            justify-content: space-between

            z-index: 2
            position: relative
            border-bottom: 1px solid #8f8f8f
        &__logo
            a
                img
                    height: 40px
        &__buttons
            a, .header__btn-search
                margin-right: 20px

        .search
            img
                margin-right: 0
                width: 26px
                height: 26px

    /* Главная страница */
    .main-slider
        &__slide
            flex-direction: column
        &__slide-img
            position: relative
            order: -1
            right: auto
            bottom: auto

            width: 311px
            height: 182px

        &__arrows
            display: none
        &__slide-title
            width: 100%
            font-size: 28px
            line-height: 30px
            font-weight: 500

    .title
        font-size: 26px

    .products
        &__item
            width: 49%
            margin-right: 10px
            &:nth-child(3n)
                margin-right: 10px
            &:nth-child(2n)
                margin-right: 0
    .activity
        &__item
            padding: 10px
            p
                font-size: 18px
                line-height: 20px
            span
                font-size: 15px
                line-height: 18px
                position: relative
                left: auto
                top: auto
                transform: none
                opacity: 1

            &:hover
                p
                    margin-top: -0px
                &::before
                    opacity: 0
                img
                    top: 0

    .about-section
        &__column
            &:first-child
                width: 50%
                display: flex
                align-items: center
                margin-right: 20px
            &:last-child
                p
                    font-size: 16px

    .icon-box
        &__column
            height: 180px

    .article
        flex-wrap: wrap
        &__item
            width: 48%
            margin-right: 0
            padding: 10px
        &__title
            font-size: 15px
        &__text
            font-size: 14px

    .feedback__column
        &:first-child
            padding-right: 10px
        &:last-child
            padding-left: 20px
        .link-tel, .link-telegram, .link-mail, .link-whatsapp
            width: 100%

        .link-telegram, .link-whatsapp
            order: 1

    .product-sections, .about-section, .news-section, .feedback-section
        padding: 60px 0

    .footer
        &__navigation
            flex-wrap: wrap
        &__column
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)
                width: 50%
                margin-bottom: 40px

            &:nth-child(2)
                border-right: none

            &:nth-child(3)
                padding: 0
        &__copyright
            p, a
                font-size: 14px

    /* //* СТРАНИЦА УСЛУГИ */

    .page-preview
        padding: 50px 0 70px
        &__slide-img
            position: relative
            order: -1
            top: auto
            transform: none
            margin-bottom: 50px
            img
                width: 60%
        &__slide-title
            width: 100%
            font-size: 30px
            line-height: 32px

        &__about-section
            padding: 50px 0

    .objects-icon-box
        &__item
            p
                font-size: 16px

    .what-we-supply__item
        p
            font-size: 18px
        img
            width: 70px

    /* Страница О КОМПАНИИ */
    .page-preview
        &__slide-text
            width: 100%

    .about-page
        .page-preview
            &__slide-img
                right: auto
        .advantages
            padding: 30px 0

    .objects-icon-box
        flex-wrap: wrap
        &__item
            width: 48%
            margin-bottom: 24px
            &:nth-child(2n)
                margin-right: 0

    /* BLOG */
    .blog
        padding: 50px 0

    .all-post
        &__item
            width: 32%
            &:nth-child(4n)
                margin-right: 14px
            &:nth-child(3n)
                margin-right: 0

    /* ВИДЕО */
    .video-block
        .article
            &__item-video
                margin-right: 14px

@media (max-width: 768px)
    .main-slider
        &__slide-title
            font-size: 26px
            line-height: 28px
            font-weight: 400

    .products
        margin-bottom: 60px
        &__item
            width: 100%
            margin-right: 0

    .activity
        flex-wrap: wrap
        &__item
            width: 100%
            margin-bottom: 20px

    .about-section
        &__content
            flex-wrap: wrap
        &__column
            &:first-child
                width: 100%
                margin-bottom: 20px
            &:last-child
                width: 100%

    .icon-box
        flex-wrap: wrap
        &__column
            width: 100%
            margin-bottom: 80px
            &:last-child
                margin-bottom: 0

    .news-section
        &__title
            margin-right: 10px
            margin-bottom: 20px
        &__navigation
            flex-wrap: wrap
        .article__img
            margin: 0px auto 20px

    .article
        &__item
            width: 100%
        &__item-video
            width: 100%
            margin-bottom: 20px
            margin-right: 0
            .article__img
                margin: 0 auto 15px
        &__title, &__text
            text-align: center

    .feedback
        flex-wrap: wrap
        &__column
            &:first-child, &:last-child
                width: 100%
                padding-left: 0
                padding-right: 0

    .footer__column:nth-child(1), .footer__column:nth-child(2), .footer__column:nth-child(3), .footer__column:nth-child(4)
        width: 100%
        padding-right: 0
        border-right: none
        border-bottom: 1px solid #393939

        padding: 0 0 20px 0
    .footer__column:nth-child(4)
        border-bottom: none
        padding: 0
        margin-bottom: 0

    .footer__copyright
        flex-direction: column-reverse
        p, a
            margin-bottom: 10px

    /* Стрница НАША ДЕЯТЕЛЬНОСТЬ */

    .examples-cart
        &__item
            width: 100%
        &__slider
            img
                width: auto

        .slick-next, .slick-prev
            top: 176px

    .text-column
        flex-wrap: wrap
        &__title
            width: 100%
            margin-bottom: 40px
            margin-right: 0
            font-size: 22px
        &__text
            width: 100%
            font-size: 16px

    .services-page
        &__about-section
            padding: 40px 0

    /* СТРАНИЦА УСЛУГИ */

    .page-preview
        &__slide-title
            font-size: 26px
            line-height: 28px
            font-weight: 400
        &__slide-img
            img
                width: 70%
                margin: 0 auto

    .objects-icon-box
        flex-wrap: wrap
        &__item
            width: 48%
            margin-bottom: 20px
            margin-right: 10px
            &:nth-child(2n)
                margin-right: 0

    .sections-serv
        .activity__item
            margin-right: 0

    .sections-serv
        padding: 60px 0 30px
        .activity
            margin-bottom: 60px

    .advantages
        padding: 40px 0 80px

    .examples-cart .slick-next, .examples-cart .slick-prev
        top: 50%

    .slider-reviews-section
        .container
            .slick-initialized
                .slick-slide
                    flex-wrap: wrap
            .arrows-left, .arrows-right
                top: 102%
                transform: none

    .slider-reviews
        padding: 10px
        &__column:first-child
            width: 100%
            margin: 0 auto 20px
        &__column:last-child
            width: 100%
            margin-bottom: 20px
        .slick-dots
            bottom: -40px

    .what-we-supply, .our-suppliers
        flex-wrap: wrap
        margin-bottom: 40px

        &__item
            width: 100%
            height: auto
            margin-right: 0
            margin-bottom: 20px
            &:last-child
                margin-bottom: 0

    .our-suppliers
        margin-bottom: 0
        &__item
            height: 180px
            img
                width: 40%

    .what-we-supply
        &_mod
            .what-we-supply__item
                width: 100%
                &:first-child
                    width: 100%

    /* Страница О КОМПАНИИ */
    .about-page
        .page-preview
            &__slide
                min-height: auto
                height: auto
            &__slide-text
                font-size: 16px

        .sections-serv
            margin-bottom: 50px
        .examples__title, .examples__title a
            display: block

    .objects-icon-box
        &__item
            height: 230px

    .our-partners
        &__item
            width: 33%

    .certificates
        .container
            display: block
        &__item
            margin-right: 0
            margin-bottom: 20px
            img
                margin: 0 auto 20px
            p
                text-align: center

    /* BLOG */
    .all-post
        &__item
            width: 48%
            &:nth-child(3n)
                margin-right: 14px
            &:nth-child(2n)
                margin-right: 0

        &__title
            font-size: 15px
        &__text
            font-size: 14px

    /* БЛОГ */
    .article-content
        &__item
            p
                font-size: 16px
        &__title
            font-size: 22px

    .article-services, .other-articles
        padding: 20px 0

    /* ВИДЕО */
    .video-block
        .article
            &__item-video
                width: 100%
                margin-right: 0

@media (max-width: 480px)
    .header__buttons a, .header__buttons .header__btn-search
        margin-right: 12px

    /* Главная страница */
    .main-slider__slide
        padding: 20px 10px
        &__slide-img
            margin-left: -20px
        &__slide-title
            font-size: 24px
            line-height: 26px

    .btn-tab, .main-btn, .btn
        font-size: 16px

    .about-section__column:last-child
        p
            line-height: 22px

    /* СТРАНИЦА УСЛУГИ */
    .page-preview
        &__slide
            padding: 20px

    /* Страница О КОМПАНИИ */
    .about-page
        .objects-icon-box
            p
                font-size: 14px

    /* BLOG */
    .all-post
        &__item
            width: 100%
            margin-right: 0
            &:nth-child(3n)
                margin-right: 0
            &:nth-child(2n)
                margin-right: 0

@media (max-width: 380px)
    .link-tel::before, .link-telegram::before, .link-mail::before, .link-whatsapp::before, .header .search img
        width: 22px
        height: 22px

    .header__buttons a, .header__buttons .header__btn-search
        margin-right: 10px

    /* Главная страница */
    .main-slider
        &__slide-title
            font-size: 22px
            line-height: 24px
        &__slide-img
            width: auto
            height: auto
            margin-left: -40px

    .products__item
        p
            font-size: 15px
            line-height: 18px

    .title
        font-size: 22px
        line-height: 24px

    .btn-tab, .main-btn, .btn
        font-size: 13px

    .feedback
        &__form
            padding: 10px

    .form__submit
        button
            p
                font-size: 14px

    /* СТРАНИЦА УСЛУГИ */
    .objects-icon-box
        &__item
            width: 100%
            &:nth-child(1n)
                margin-right: 0
