/* //! НАША ДЕЯТЕЛЬНОСТЬ */

.services-page
    .icon-box
        &__column
            background: #F6F7F8
    &__about-section
        padding: 100px 0

/* Первая секция */
.page-preview
    padding: 70px 0 100px
    background: url(../img/bg/bg-main-slider.jpg) center center / cover no-repeat
    &__container
    &__title
        margin-bottom: 50px
    &__slide-text
        width: 60%
        font-size: 20px
        font-weight: 400
        line-height: 150%

/* Вторая секция */
.advantages
    padding: 100px 0 100px
    &__title
        margin-bottom: 100px

/* Третья секция */
.examples
    &__title
        margin-bottom: 50px

.examples-cart
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &__item
        position: relative
        width: 31.9%
        margin-right: 24px
        margin-bottom: 50px
        &:nth-child(3n)
            margin-right: 0
    &__slider
        margin-bottom: 20px

    &__title
        color: $black-1
        font-size: 18px
        font-weight: 500
        line-height: 120%
        transition: .3s
        &:hover
            color: $main-red
    &__company
        color: $gray-btn-text
        font-size: 16px
        font-weight: 500
        line-height: 120%
        margin: 8px 0
    &__text
        color: $gray-article-text
        font-size: 16px
        font-weight: 400
        line-height: 140%

    .slick-arrow
        font-size: 0
        width: 30px
        height: 30px
        border: none
        border-radius: 100px
        background: rgba(29, 29, 27, 0.50)

    .slick-prev
        position: absolute
        left: 4px
        top: 140px
        transform: translateY(-50%)
        z-index: 2
        &::before
            content: ''
            display: block
            width: 8px
            height: 14px
            background: url(../img/icons/left-arrow-slider.svg) center center / cover no-repeat

            position: absolute
            left: 48%
            top: 50%

            transform: translate(-50%, -50%)

    .slick-next
        position: absolute
        right: 4px
        top: 140px
        transform: translateY(-50%)
        z-index: 2
        &::before
            content: ''
            display: block
            width: 8px
            height: 14px
            background: url(../img/icons/left-arrow-slider.svg) center center / cover no-repeat

            position: absolute
            left: 52%
            top: 50%

            transform: translate(-50%, -50%) rotate(180deg)

    .slick-dots
        display: flex
        justify-content: center

        position: absolute
        bottom: 10px
        left: 50%
        transform: translateX(-50%)

        li
            margin-right: 8px
            &:last-child
                margin-right: 0

            button
                font-size: 0
                width: 10px
                height: 10px
                background: #B3B3B3
                border: 1px solid rgba(255, 255, 255, 0.80)
                border-radius: 100px

                transition: .3s

        .slick-active
            button
                background: $black-1

/* Четвертая секция */
.text-column
    display: flex
    &__title
        color: $black-1
        font-size: 36px
        font-weight: 600
        line-height: 110%
        letter-spacing: -0.8px
        width: 30%
        margin-right: 20px
    &__text
        color: #333
        font-size: 18px
        font-weight: 400
        line-height: 150%
        width: 70%

/* СТРАНИЦА ПРОЕКТИРОВАНИЕ */

.services-page
    &__dop
        .page-preview

.page-preview
    &__slide
        height: 515px
        background: #fff
        border-radius: 4px

        padding: 70px 50px

        display: flex
        align-items: start
        flex-direction: column
        justify-content: center

        overflow: hidden
        position: relative
    &__slide-title
        width: 56%
        font-size: 40px
        font-weight: 600
        line-height: 44px
        letter-spacing: -0.8px
        color: $black-1

        margin-bottom: 50px
        position: relative
        z-index: 2
        span
            color: $main-red
            font-style: italic
    &__slide-img
        position: absolute
        right: 0px
        top: 50%
        transform: translateY(-50%)

.sections-serv
    padding: 100px 0 0
    &__title
        margin-bottom: 50px
    .activity
        margin-bottom: 100px
        &__item
            margin-right: 24px

    .text-column
        margin-bottom: 100px

.objects-icon-box
    display: flex
    align-items: center
    justify-content: space-between

    &__item
        display: flex
        flex-direction: column
        align-items: center

        width: 25%
        height: 200px

        padding: 20px 15px 30px 15px
        border-radius: 4px
        border: 1px solid #E6E6E5

        margin-right: 24px
        &:last-child
            margin-right: 0
        img
            width: 80px
            height: 80px
            margin-bottom: 20px
        p
            text-align: center
            color: $black-1
            font-size: 20px
            font-weight: 500
            line-height: 130%

.services-page
    &__dop
        .other-sections
            margin: 50px 0
            &__title
                margin-bottom: 50px

.what-we-supply
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 100px
    &__item
        width: 33%
        height: 240px
        border-radius: 4px
        background: $gray-btn
        padding: 20px 20px 30px 20px
        margin-right: 24px
        &:last-child
            margin-right: 0
        img
            width: 100px
            height: auto
            margin-bottom: 20px
        p
            color: $black-1
            font-size: 20px
            font-weight: 400
            line-height: 120%

    &_mod
        .what-we-supply__item
            width: 34%
            &:first-child
                background: none
                padding: 0
                width: 29%

.our-suppliers
    display: flex
    align-items: center
    justify-content: space-between
    &__item
        width: 33%
        height: 200px
        border-radius: 4px
        border: 1px solid #E6E6E5
        background: #FFF

        display: flex
        align-items: center
        justify-content: center

        padding: 20px
        margin-right: 24px
